<h1>{{ title }}</h1>
<audio controls loop hidden>
    <source src="/assets/PopeyeIntro.mp3" type="audio/mpeg">
</audio>
FALTA PONERLE AUTOPLAY A POPEYE
<div class="keypad">
    <table class="base">
        <tr>
            <td class="expressions evalExpression" colspan="4">{{ eval }}</td>
        </tr>
        <tr>
            <td class="expressions" colspan="4">{{ calc }}</td>
        </tr>
        <tr class="keys-area">
            <td class="keys clrkey" colspan="3" (click)="clear()">C</td>
            <td class="keys optkey" (click)="pressSign('/')">÷</td>
        </tr>
        <tr class="keys-area">
            <td class="keys numkey" (click)="pressKey('7')">7</td>
            <td class="keys numkey" (click)="pressKey('8')">8</td>
            <td class="keys numkey" (click)="pressKey('9')">9</td>
            <td class="keys optkey" (click)="pressSign('*')">*</td>
        </tr>
        <tr class="keys-area">

            <td class="keys numkey" (click)="pressKey('4')">4</td>
            <td class="keys numkey" (click)="pressKey('5')">5</td>
            <td class="keys numkey" (click)="pressKey('6')">6</td>
            <td class="keys optkey" (click)="pressSign('+')">+</td>
        </tr>
        <tr class="keys-area">

            <td class="keys numkey" (click)="pressKey('1')">1</td>
            <td class="keys numkey" (click)="pressKey('2')">2</td>
            <td class="keys numkey" (click)="pressKey('3')">3</td>
            <td class="keys optkey" (click)="pressSign('-')">-</td>
        </tr>
        <tr class="keys-area">

            <td class="keys numkey" colspan="2" (click)="pressKey('0')">0</td>
            <td class="keys numkey" (click)="pressKey('.')">.</td>
            <td class="keys optkey" (click)="evaluate()">=</td>
        </tr>
    </table>
</div>